.scroll-hide,.blogroll-inner-wrapper  , .last-topics-wrapper , #kaprila_p30download_ir_related-top-post ,.last-topics , .blogroll ,  #header-wrapper ,div#lun-notif.scroll-hide{
    display: none;
}
.pagination {
    display: block;
}
body>div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: bisque;
}
body>div:nth-of-type(2)>ul{
    display: flex;
    gap: 40px;
}